Repository huggingface/Google-Cloud-Containers, pull requests merged in 2024-10, with the labels that each got.

#104 Update Cloud Run TGI guide
  examples/cloud-run/tgi-deployment/README.md
Labels: examples, fix

#105 small updates to the TGI Cloud Run readme
  examples/cloud-run/tgi-deployment/README.md
Labels: examples, fix

#96 Add `containers/tgi/gpu/2.3.1/Dockerfile`
  .github/workflows/doc-pr-upload.yml
  README.md
  containers/tgi/README.md
  containers/tgi/gpu/2.3.1/Dockerfile
  containers/tgi/gpu/2.3.1/entrypoint.sh
  docs/source/containers/available.mdx
Labels: tgi, container

#107 Use `ingressClassName` due to annotation deprecation
  examples/gke/tei-deployment/cpu-config/ingress.yaml
  examples/gke/tei-deployment/gpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/cpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/gpu-config/ingress.yaml
  examples/gke/tgi-deployment/config/ingress.yaml
  examples/gke/tgi-from-gcs-deployment/config/ingress.yaml
Labels: fix

#108 Revert `ingressClassName` over `annotation`
  examples/gke/tei-deployment/cpu-config/ingress.yaml
  examples/gke/tei-deployment/gpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/cpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/gpu-config/ingress.yaml
  examples/gke/tgi-deployment/config/ingress.yaml
  examples/gke/tgi-from-gcs-deployment/config/ingress.yaml
Labels: fix

#103 Add `examples/gke/tgi-llama-405b-deployment`
  README.md
  docs/source/resources.mdx
  examples/gke/README.md
  examples/gke/tgi-llama-405b-deployment/README.md
  examples/gke/tgi-llama-405b-deployment/config/deployment.yaml
  examples/gke/tgi-llama-405b-deployment/config/ingress.yaml
  examples/gke/tgi-llama-405b-deployment/config/service.yaml
  examples/gke/tgi-llama-405b-deployment/imgs/gke-cluster.png
  examples/gke/tgi-llama-405b-deployment/imgs/gke-deployment-logs.png
  examples/gke/tgi-llama-405b-deployment/imgs/gke-deployment.png
Labels: examples

#102 Add `examples/gke/tgi-multi-lora-deployment`
  .github/workflows/doc-build.yml
  .github/workflows/doc-pr-build.yml
  README.md
  docs/scripts/auto-generate-examples.py
  docs/source/resources.mdx
  examples/gke/README.md
  examples/gke/tgi-deployment/README.md
  examples/gke/tgi-multi-lora-deployment/README.md
  examples/gke/tgi-multi-lora-deployment/config/deployment.yaml
  examples/gke/tgi-multi-lora-deployment/config/ingress.yaml
  examples/gke/tgi-multi-lora-deployment/config/service.yaml
  examples/gke/tgi-multi-lora-deployment/imgs/gke-cluster.png
  examples/gke/tgi-multi-lora-deployment/imgs/gke-deployment-logs.png
  examples/gke/tgi-multi-lora-deployment/imgs/gke-deployment.png
  examples/gke/tgi-multi-lora-deployment/imgs/gke-secrets.png
  examples/vertex-ai/README.md
  scripts/internal/update_example_tables.py
Labels: examples, tgi, blocked

#109 Minor updates (docs, examples, etc.)
  .github/workflows/doc-pr-build.yml
  .github/workflows/doc-pr-upload.yml
  containers/tgi/README.md
  docs/scripts/auto-generate-examples.py
  docs/source/containers/available.mdx
  docs/source/index.mdx
  examples/gke/tgi-llama-vision-deployment/imgs/gke-cluster.png
  examples/gke/tgi-llama-vision-deployment/imgs/gke-deployment-logs.png
  examples/gke/tgi-llama-vision-deployment/imgs/gke-deployment.png
  examples/gke/tgi-llama-vision-deployment/imgs/gke-secrets.png
  examples/vertex-ai/notebooks/deploy-bert-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-embedding-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-flux-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-gemma-from-gcs-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-gemma-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-llama-vision-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/evaluate-llms-with-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/trl-full-sft-fine-tuning-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/trl-lora-sft-fine-tuning-on-vertex-ai/vertex-notebook.ipynb
Labels: documentation, fix

#110 Fix `docs/scripts/auto-generate-examples.py`
  docs/scripts/auto-generate-examples.py
Labels: fix

#112 Update `examples/gke` to include paths to Kubernetes files
  examples/gke/tei-deployment/README.md
  examples/gke/tei-from-gcs-deployment/README.md
  examples/gke/tgi-deployment/README.md
  examples/gke/tgi-from-gcs-deployment/README.md
  examples/gke/tgi-llama-405b-deployment/README.md
  examples/gke/tgi-llama-vision-deployment/README.md
  examples/gke/tgi-multi-lora-deployment/README.md
  examples/gke/trl-full-fine-tuning/README.md
  examples/gke/trl-lora-fine-tuning/README.md
Labels: documentation, fix

#114 Add reference to GitHub in documentation examples
  docs/scripts/auto-generate-examples.py
  examples/vertex-ai/notebooks/deploy-bert-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-embedding-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-flux-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-llama-vision-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/evaluate-llms-with-vertex-ai/vertex-notebook.ipynb
Labels: documentation

#113 Add Gemma2 9B on Cloud Run example
  README.md
  docs/source/resources.mdx
  examples/cloud-run/README.md
  examples/cloud-run/deploy-gemma-2-on-cloud-run/README.md
  examples/cloud-run/deploy-gemma-2-on-cloud-run/imgs/cloud-run-deployment.png
  examples/cloud-run/deploy-gemma-2-on-cloud-run/imgs/cloud-run-details.png
  examples/cloud-run/deploy-llama-3-1-on-cloud-run/README.md
  examples/cloud-run/deploy-llama-3-1-on-cloud-run/imgs/cloud-run-deployment.png
  examples/cloud-run/deploy-llama-3-1-on-cloud-run/imgs/cloud-run-details.png
Labels: examples, cloud-run

#117 Add `pytorch/inference/{gpu,cpu}/2.3.1/transformers/4.46.0/py311`
  containers/pytorch/inference/cpu/2.3.1/transformers/4.46.1/py311/Dockerfile
  containers/pytorch/inference/cpu/2.3.1/transformers/4.46.1/py311/entrypoint.sh
  containers/pytorch/inference/gpu/2.3.1/transformers/4.46.1/py311/Dockerfile
  containers/pytorch/inference/gpu/2.3.1/transformers/4.46.1/py311/entrypoint.sh
Labels: pytorch, container

#118 Add `containers/tgi/gpu/2.4.0/Dockerfile`
  containers/tgi/gpu/2.4.0/Dockerfile
  containers/tgi/gpu/2.4.0/entrypoint.sh
Labels: tgi, container

#119 Add missing `git clone` command in `examples/gke/*`
  examples/gke/tei-deployment/README.md
  examples/gke/tei-from-gcs-deployment/README.md
  examples/gke/tgi-deployment/README.md
  examples/gke/tgi-from-gcs-deployment/README.md
  examples/gke/tgi-llama-405b-deployment/README.md
  examples/gke/tgi-llama-vision-deployment/README.md
  examples/gke/tgi-multi-lora-deployment/README.md
  examples/gke/trl-full-fine-tuning/README.md
  examples/gke/trl-lora-fine-tuning/README.md
Labels: documentation
