Repository huggingface/Google-Cloud-Containers, pull requests merged in 2024-09, with the labels that each got.

#80 Add `.github/workflows/trufflehog.yml`
  .github/workflows/trufflehog.yml
Labels: actions

#67 Add documentation to be hosted in hf.co/docs
  .github/workflows/doc-build.yml
  .github/workflows/doc-pr-build.yml
  .github/workflows/doc-pr-upload.yml
  docs/source/_toctree.yml
  docs/source/index.mdx
Labels: documentation

#84 changed `display(PIL)` to `display(image)`
  examples/vertex-ai/notebooks/deploy-flux-on-vertex-ai/vertex-notebook.ipynb
Labels: examples, fix

#87 Port `deploy-llama-3-1-405-on-vertex-ai/` example
  README.md
  examples/vertex-ai/README.md
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/a3-general-availability.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/a3-quota-request.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/model-in-hf-hub.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/vertex-ai-endpoint.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/vertex-ai-model.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/assets/vertex-ai-online-prediction.png
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/vertex-notebook.ipynb
Labels: examples

#82 Add `examples/cloud-run` on preview
  README.md
  examples/README.md
  examples/cloud-run/README.md
  examples/cloud-run/tgi-deployment/README.md
  examples/cloud-run/tgi-deployment/imgs/cloud-run-deployment.png
  examples/cloud-run/tgi-deployment/imgs/cloud-run-details.png
Labels: examples

#90 Update references to TEI DLC to version 1.4
  README.md
  examples/gke/tei-deployment/README.md
  examples/gke/tei-deployment/cpu-config/deployment.yaml
  examples/gke/tei-deployment/cpu-config/ingress.yaml
  examples/gke/tei-deployment/cpu-config/service.yaml
  examples/gke/tei-deployment/gpu-config/deployment.yaml
  examples/gke/tei-deployment/gpu-config/ingress.yaml
  examples/gke/tei-deployment/gpu-config/service.yaml
  examples/gke/tei-from-gcs-deployment/README.md
  examples/gke/tei-from-gcs-deployment/cpu-config/deployment.yaml
  examples/gke/tei-from-gcs-deployment/cpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/cpu-config/service.yaml
  examples/gke/tei-from-gcs-deployment/gpu-config/deployment.yaml
  examples/gke/tei-from-gcs-deployment/gpu-config/ingress.yaml
  examples/gke/tei-from-gcs-deployment/gpu-config/service.yaml
  examples/vertex-ai/notebooks/deploy-embedding-on-vertex-ai/vertex-notebook.ipynb
Labels: documentation

#86 Update, fix and improve some `README.md` files
  containers/container.yaml
  containers/pytorch/training/README.md
  containers/tei/README.md
  containers/tgi/README.md
  docs/source/index.mdx
  examples/cloud-run/tgi-deployment/README.md
  examples/vertex-ai/notebooks/deploy-gemma-from-gcs-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-gemma-on-vertex-ai/vertex-notebook.ipynb
Labels: documentation, fix

#92 Minor tweaks and fixes to TGI on Cloud Run tutorial
  examples/cloud-run/tgi-deployment/README.md
Labels: examples, fix

#95 Disable insecure `kubelet` read-only 10255 port
  examples/gke/tei-deployment/README.md
  examples/gke/tei-from-gcs-deployment/README.md
  examples/gke/tgi-deployment/README.md
  examples/gke/tgi-from-gcs-deployment/README.md
  examples/gke/trl-full-fine-tuning/README.md
  examples/gke/trl-lora-fine-tuning/README.md
Labels: examples, fix

#88 Add `examples` within the `docs/`
  .github/workflows/doc-build.yml
  .github/workflows/doc-pr-build.yml
  .gitignore
  Makefile
  README.md
  containers/tgi/README.md
  docs/scripts/auto-generate-examples.py
  docs/scripts/auto-update-toctree.py
  docs/source/_toctree.yml
  docs/source/containers/available.mdx
  docs/source/containers/introduction.mdx
  docs/source/features.mdx
  docs/source/index.mdx
  docs/source/resources.mdx
  examples/cloud-run/README.md
  examples/cloud-run/tgi-deployment/README.md
  examples/gke/README.md
  examples/gke/tei-deployment/README.md
  examples/gke/tei-from-gcs-deployment/README.md
  examples/gke/tgi-deployment/README.md
  examples/gke/tgi-from-gcs-deployment/README.md
  examples/gke/trl-full-fine-tuning/README.md
  examples/gke/trl-lora-fine-tuning/README.md
  examples/vertex-ai/README.md
  examples/vertex-ai/notebooks/deploy-bert-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-embedding-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-flux-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-gemma-from-gcs-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-gemma-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/deploy-llama-3-1-405b-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/trl-full-sft-fine-tuning-on-vertex-ai/vertex-notebook.ipynb
  examples/vertex-ai/notebooks/trl-lora-sft-fine-tuning-on-vertex-ai/vertex-notebook.ipynb
Labels: documentation
