Repository huggingface/Google-Cloud-Containers, pull requests merged in 2024-12, with the labels that each got.

#127 Fix pinned `huggingface-inference-toolkit` to include path patch
  containers/pytorch/inference/cpu/2.2.2/transformers/4.41.1/py311/Dockerfile
  containers/pytorch/inference/gpu/2.2.2/transformers/4.41.1/py311/Dockerfile
Labels: fix

#61 Add `containers/tei/{cpu,gpu}/1.5.1`
  containers/tei/cpu/1.5.1/Dockerfile
  containers/tei/cpu/1.5.1/entrypoint.sh
  containers/tei/gpu/1.5.1/Dockerfile
  containers/tei/gpu/1.5.1/entrypoint.sh
Labels: container, tei, blocked

#131 Add `containers/tgi/gpu/3.0.1`
  containers/tgi/gpu/3.0.1/Dockerfile
  containers/tgi/gpu/3.0.1/entrypoint.sh
Labels: tgi, container

#130 🔖 New release for optimum tpu 0.2.2
  README.md
  containers/pytorch/training/README.md
  containers/pytorch/training/tpu/2.5.1/transformers/4.46.3/py310/Dockerfile
  containers/tgi/README.md
  containers/tgi/tpu/0.2.2/Dockerfile
  containers/tgi/tpu/0.2.2/entrypoint.sh
Labels: container, tpu
