Repository huggingface/Google-Cloud-Containers, pull requests merged in 2025-01, with the labels that each got.

#136 Update `README.md`
  README.md
  containers/pytorch/inference/README.md
  docs/source/containers/available.mdx
  examples/cloud-run/README.md
Labels: documentation, fix

#132 Add `containers/tei/{cpu,gpu}/1.6.0`
  containers/tei/cpu/1.6.0/Dockerfile
  containers/tei/cpu/1.6.0/entrypoint.sh
  containers/tei/gpu/1.6.0/Dockerfile
  containers/tei/gpu/1.6.0/entrypoint.sh
Labels: container, tei

#140 Pin `cargo-chef` version on TEI DLCs on GPU
  containers/tei/cpu/1.2.2/Dockerfile
  containers/tei/cpu/1.4.0/Dockerfile
  containers/tei/cpu/1.5.1/Dockerfile
  containers/tei/gpu/1.2.2/Dockerfile
  containers/tei/gpu/1.4.0/Dockerfile
  containers/tei/gpu/1.5.1/Dockerfile
  containers/tei/gpu/1.6.0/Dockerfile
Labels: fix, container

#137 Fix `mountPath` to use `/tmp` instead of `/data`
  examples/gke/tei-deployment/cpu-config/deployment.yaml
  examples/gke/tei-deployment/gpu-config/deployment.yaml
  examples/gke/tgi-deployment/config/deployment.yaml
  examples/gke/tgi-llama-405b-deployment/config/deployment.yaml
  examples/gke/tgi-llama-vision-deployment/config/deployment.yaml
  examples/gke/tgi-multi-lora-deployment/config/deployment.yaml
Labels: fix

#134 Add `pytorch/training/gpu/2.3.1/transformers/4.48.0/py311/Dockerfile`
  containers/pytorch/training/README.md
  containers/pytorch/training/gpu/2.3.1/transformers/4.48.0/py311/Dockerfile
Labels: pytorch, container

#142 Add details about TPUs in the docs
  docs/source/_toctree.yml
  docs/source/tpu.mdx
Labels: documentation, tpu

#141 feat(tpu): updated to optimum 0.2.3, added llama training example
  containers/pytorch/training/tpu/2.5.1/transformers/4.46.3/py310/Dockerfile
Labels: container, tpu

#135 Add `pytorch/inference/{cpu,gpu}/2.3.1/transformers/4.48.0/py311`
  containers/pytorch/inference/cpu/2.3.1/transformers/4.48.0/py311/Dockerfile
  containers/pytorch/inference/cpu/2.3.1/transformers/4.48.0/py311/entrypoint.sh
  containers/pytorch/inference/gpu/2.3.1/transformers/4.48.0/py311/Dockerfile
  containers/pytorch/inference/gpu/2.3.1/transformers/4.48.0/py311/entrypoint.sh
Labels: pytorch, container
